.dream-fields {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 0;
}

.dream-field {
  width: 25%;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: #000;
  padding: 0 10px;
}

@media (max-width: 1450px) {
  .dream-field {
    width: 33.33%;
  }
}

@media (max-width: 940px) {
  .dream-field {
    width: 33.33%;
  }
}

@media (max-width: 820px) {
  .dream-field {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .dream-field {
    width: auto;
  }
}

.dream-field + .ajax-progress-throbber {
  position: absolute;
  margin-left: -35px;
}

.dream-field__container {
  border: solid 1px #bfbfba;
  background-color: #f5f5f2;
  border-radius: 2px;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding-bottom: 55px;
  height: 100%;
  box-sizing: border-box;
}

.dream-field__image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 15px;
}

.dream-field img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.dream-field__title {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}
